easy_admin:
    disabled_actions: []
    entities:
#        Contact_clients:
#            class: App\Entity\Contact
#            list:
#                fields:
#                    - { property: 'nom'}
#                    - { property: 'societe'}
#                    - { property: 'numero'}
#                    - { property: 'email'}
#                    - { property: 'message'}
#                    - { property: 'document', template: 'contract.html.twig', base_path: '%kernel.project_dir%' }
        Photos:
            class: App\Entity\Photos
            list:
                fields:
                    - { property: 'libelle'}
                    - { property: 'description'}
                    - { property: 'image', type: 'image', base_path: 'uploads'}
            form:
                fields:
                    - { property: 'imageFile', type: 'file', base_path: 'uploads'}
                    - { property: 'libelle'}
                    - { property: 'description'}
                    - { property: 'dossier'}
                    - { property: 'categorie'}



                    
        Dossier:
            class: App\Entity\Dossier
            list:
                fields:
                    - { property: 'libelle'}
                    - { property: 'description'}

                    
            form:
                fields:
                    - { property: 'libelle'}
                    - { property: 'description'}
                    - { property: 'categorie'}






    design:
        form_theme:
            - '@EasyAdmin/form/bootstrap_4.html.twig'
            - '@VichUploader/Form/fields.html.twig'

